<!DOCTYPE html>
<html>
<head>
	<title>MLH Data Grind</title>
	<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">

</head>
<body>
	<!-- Bootstrap navbar -->
	<nav class="navbar navbar-light bg-light">
		<img src="{{ url_for('static', filename='img/blink.png')}}">
		<a class="navbar-brand navbar-logo" href="#">
			<h1>blink</h1>
		</a>
		<!-- This is the hamburger button. The most important part -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="dark-blue-text navbar-toggler-icon"></span>
		</button>

		<!-- Collapsed elements of the navbar -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<!-- 3 Menu options -->
				<li class="nav-item menu-buttons active">
					<a class="nav-link" href="#" onclick="hide(0)">Menu 1</a>
				</li>
				<li class="nav-item menu-buttons">
					<a class="nav-link" href="#" onclick="hide(1)">Menu 2</a>
				</li>
				<li class="nav-item menu-buttons">
					<a class="nav-link" href="#" onclick="hide(2)">Menu 3</a>
				</li>
			</ul>
			
		</div>
	</nav>	


	<!-- Option 1 -->
	<!-- Will remain visible only when option 1 in hamburger menu is selected -->
	<div class="options">
		<div id="graph-div">
			<canvas id="myChart"></canvas>
		</div>
	
	</div>
	<!-- Option 2 -->
	<div class="options hidden">
		<!-- Replace src with source of video file -->
		<iframe src="https://www.youtube.com/watch?v=fl2r3Fwxz_o"></iframe>
	</div>
	<!-- Option 2 -->
	<div class="options hidden">
		<p>3</p>
		<div id = "text-div">
			<p>Yesterday, you took 12 breaks and worked over a span of 06 hours and 24 minutes.</p>
			<p>Today, we recommend you take your first break in 00 hours and 52 minutes. </p>
			<p>Research suggests you should take small, 5-15 minute breaks, and occasional longer, 20-30 minute breaks.</p>
			<p>Based on the data we've collected from you, you are the most productive around 15:57.</p>
			<p>You are the least productive around 20:13.</p>
				
		</div>
	</div>

</body>

<!-- Scripts necessary for bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!-- Script for chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js')}}"></script>